<div class="main-banner">
  <h1 id="banner-typed-text"></h1>
</div>


<div class="container">
  <div class="row">
    <h1 class="main-title text-center">Cocktails</h1>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-4">
        <div class="card-item">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-content card-image" style="background-image: url('<%= cl_image_path cocktail.photo %>');">
              <div class="card-title">
                <h4> <%= cocktail.name %></h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-md-4">
      <div class="special-card">
        <%= link_to "Add a Cocktail", new_cocktail_path ,class: "btn my-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
