.card-item {
  background:#ffffff;
  padding: 0;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-item h4{
  margin: 0;
  color: white;
  text-decoration: none;
}

.card-item a:hover {
  text-decoration: none;
}

.card-item:hover {
  opacity: 0.7;
}
.card-content {
  background-image: linear-gradient(rgba(10,10,10,0.3) 50%, rgba(10,10,10,0.4) 70%), url('https://images.unsplash.com/photo-1531387367216-681093c0279b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ca72de11ae9cd2fa7367dc1ee76705&auto=format&fit=crop&w=1616&q=80');
}

.card-title {
  padding: 20px;
}

.card-actions {
  padding: 20px;
}
.card-title a{
  padding-right: 10px;
}

.card-image{
  height: 300px;
  background-position: center;
  background-size: cover;
}

.special-card {
  height: 300px;
  text-align:center;
  margin-top: 130px;
}
